
@{
    ViewData["Title"] = "Empty";
    Layout = "~/Views/Shared/AdminLayOut.cshtml";
}

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="FoodCategories" asp-action="Create">Create new food category</a>
<h1>there is no food</h1>
