

@{
    ViewData["Title"] = "ChildList";
    Layout = "~/Views/Shared/AdminLayOut.cshtml";
}



<h1 class="text-center">ChildList</h1>


<table class="table table-dark">
    <thead>
        <tr>

            <th scope="col">Child Id</th>
            <th scope="col">Child Name</th>
            <th scope="col">Parent Name</th>

        </tr>
    </thead>

    @foreach (var stud in ViewBag.products)
    {
      
        

        <tbody>

            <tr>

                <td>@stud.ChildId</td>

                <td>@stud.ChildName</td>
                <td>Dummy record</td>
            </tr>
        </tbody>
   
     }

    </table>