@model SmarkHealthKidoPack.ViewModel.GuardianBalanaceViewModel
@{
    ViewData["Title"] = "addcradits";
    Layout = "~/Views/Shared/AdminLayOut.cshtml";
}

<h1 class="text-center">addcradits</h1>






<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 offset-md-4">
            <div class="card ">
                <div class="card-header">
                    <div class="row">
                        <h3 class="text-xs-center">Payment  of  @Html.DisplayFor(model => model.Guardianname)</h3>
                        <img class="img-fluid cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
                    </div>
                </div>
                <div class="card-block">

                    <form asp-action="addcradits">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="GuardianId" />
                        <input type="hidden" asp-for="Guardianname" />
                        <input type="hidden" asp-for="phonenumber" />

                        <input type="hidden" asp-for="adress" />
                        <input type="hidden" asp-for="messId" />
                        <input type="hidden" asp-for="passward" />
                        <input type="hidden" asp-for="OldBalance" />
                        
                        <div class="form-group">
                            @*<h1><label> @Html.DisplayFor(model => model.GuardianName)</label></h1>*@

                        </div>


                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <div class="input-group">
                                        @* <input type="tel" class="form-control" placeholder="Valid Card Number" />*@
                                        <input type="tel" asp-for="newBalance" class="form-control" placeholder="Valid Card Number" />
                                        <span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 float-xs-right">
                                <div class="form-group">

                                    @*<input type="tel" class="form-control" placeholder="CVC" />*@
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>CARD OWNER</label>
                    <input type="text" class="form-control" placeholder="Card Owner Names" />
                </div>
            </div>
        </div>*@
                        <button class="btn btn-warning btn-lg btn-block">Process payment</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-warning btn-lg btn-block">Process payment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .cc-img {
        margin: 0 auto;
    }
</style>
